<div class="row">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Payment Details</nb-card-header>
            <nb-card-body>
                <form novalidate [formGroup]="paymentForm">
                    <div class="row">
                        <nb-select placeholder="Select Supplier" [(selected)]="selectedSupplier" class="position-select"
                            (selectedChange)="onSupplierSelect($event)" formControlName="supplier" status="primary">
                            <nb-option *ngFor="let supplier of suppliers" [(value)]="supplier.sup_id">
                                {{ supplier.name }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="vouchernumber" class="label">Voucher Number</label>
                                <input type="text" nbInput fullWidth id="vouchernumber" disabled
                                    placeholder="Voucher Number" formControlName="voucherNumber">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="remainingamount" class="label">Remaining Amount</label>
                                <input type="number" nbInput fullWidth id="remainingamount" placeholder="Remaining Amount" disabled
                                    formControlName="remainingAmount">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="amounttobepaid" class="label">Amount to be paid</label>
                                <input type="number" nbInput fullWidth id="amounttobepaid" placeholder="Amount To Be Paid"
                                    formControlName="amountToBePaid">
                            </div>
                        </div>
                    </div>
                    <button nbButton status="danger" hero (click)="onClear()">Clear</button>
                    <button nbButton status="success" hero type="submit" (click)="onSubmit()">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<nb-card>
    <nb-card-header>
        Payables
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </nb-card-body>
</nb-card>