<h1 style="text-align: center; color: #188367; margin-top: -100px;">Abu Hamza Pet Shop</h1>
<nb-card>
  <nb-card-header>Login Screen</nb-card-header>
  <nb-card-body>
    <form role="form" novalidate [formGroup]="form" (ngSubmit)="onLoggedin()">
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Email address</label>
        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email" pattern=".+@.+\..+" fieldSize="large" autofocus
        [status]="form.get('email').dirty ? (form.get('email').invalid  ? 'danger' : 'success') : ''" formControlName="email">
        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <p class="caption status-danger">
            Email is required!
          </p>
          <p class="caption status-danger"  *ngIf="form.get('email').hasError('email')">
            Email should be the real one!
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Password</label>
        <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password" formControlName="password"
        [status]="form.get('password').dirty ? (form.get('password').invalid  ? 'danger' : 'success') : ''">
        <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <p class="caption status-danger">
            Password is required!
          </p>
        </div>
      </div>
      <button nbButton
      fullWidth
      status="primary"
      size="large"
      [disabled]="form.invalid">
      Log In
      </button>
    </form>
  </nb-card-body>
</nb-card>