<div class="row">
    <div class="col-sm-12">
        <nb-card>
            <nb-card-header>Transactions</nb-card-header>
            <nb-card-body>
                <form novalidate [formGroup]="transactionsForm">
                    <div class="row">
                        <nb-select placeholder="Select Account From" formControlName="fromAccount"
                            class="position-select">
                            <nb-option *ngFor="let acounts of fromAccounts" [(value)]="acounts.acc_id">
                                {{ acounts.name }}</nb-option>
                        </nb-select>
                        <nb-select placeholder="Select Account To" formControlName="toAccount" class="position-select">
                            <nb-option *ngFor="let acounts of toAccounts" [(value)]="acounts.acc_id">
                                {{ acounts.name }}</nb-option>
                        </nb-select>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="amount" class="label">Description</label>
                                <textarea nbInput fullWidth placeholder="Description"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="amount" class="label">Amount</label>
                                <input type="number" nbInput fullWidth id="amount" placeholder="Amount"
                                    formControlName="amount">
                            </div>
                        </div>
                    </div>
                    <button nbButton status="danger" hero (click)="onClear()">Clear</button>
                    <button nbButton status="success" hero type="submit" (click)="onSubmit()"
                        [disabled]="transactionsForm.invalid">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>