@import '../../../@theme/styles/themes';

nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }

  .position-select {
    min-width: 98%;
    padding-bottom: 5px;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  nb-select {
    margin: .5rem 0 .5rem 15px;
  }

  @include nb-install-component() {
    .buttons-row {
      margin: -0.5rem;
    }
  
    button[nbButton] {
      margin: 0.5rem;
    }
  
    .action-icon {
      @include nb-ltr(margin-right, 0.5rem);
      @include nb-rtl(margin-left, 0.5rem);
    }
  
    .actions-card {
      height: 8rem;
    }
  }
  
  textarea {
    margin-top: 10px;
  }