<div class="row">
    <div class="col-sm-9">
        <nb-card>
            <nb-card-body>
                <form [formGroup]="saleOrderForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="barcode" class="label">Barcode</label>
                                <input type="text" nbInput fullWidth ngxAutofocus #barcode placeholder="Barcode"
                                    (blur)="getProductByBarcode(barcode.value)" formControlName="barcode">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="voucherno" class="label">Voucher No</label>
                            <input type="text" nbInput fullWidth ngxAutofocus #voucherno placeholder="Voucher No"
                                (blur)="getAdvanceByVoucherNo(voucherno.value)" formControlName="voucherno">
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                    (editConfirm)="onConfirmEdit($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-3">
        <nb-card>
            <nb-card-body>
                <form [formGroup]="saleOrderForm">
                    <div class="row">
                        <div class="col-sm-12" [hidden]=!isAdvanceVisible>
                            <div class="form-group">
                                <label for="advance" class="label">Advance</label>
                                <input type="text" nbInput fullWidth id="advance" placeholder="Advance" formControlName="advance">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="discount" class="label">Discount</label>
                                <input type="text" (input)="onChange($event.target.value)" nbInput fullWidth style="color: red"
                                    id="discount" placeholder="Discount" value={{discount}} formControlName="discount">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="subtotal" class="label">Sub Total</label>
                                <input type="text" style="color: red" nbInput fullWidth id="subtotal"
                                    placeholder="Sub Total" disabled value={{subTotal}} formControlName="subTotal">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="grandTotal" class="label">Grand Amount</label>
                                <input type="text" style="color: red" nbInput fullWidth id="grandTotal"
                                    placeholder="Grand Total" disabled value={{grandTotal}}
                                    formControlName="grandTotal">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="tenderamount" class="label">Tender Amount</label>
                                <input type="text" (input)="onTenderAmountEntered($event.target.value)" nbInput
                                    fullWidth id="tenderamount" placeholder="Tender Amount" style="color: red"
                                    formControlName="tenderAmount">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="remainingcash" class="label">Remaining Cash</label>
                                <input type="text" style="color: red" nbInput fullWidth id="remainingcash"
                                    placeholder="Remaining Cash" disabled value={{remainingCash}}>
                            </div>
                        </div>
                    </div>
                    <button nbButton status="warning" hero (click)="onSubmit()" [disabled]="singleProductList.length === 0">Submit</button>
                    <button nbButton status="danger" hero (click)="onClear()">Clear</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>